.sp-page-builder .page-content #about-me {
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    box-shadow: 0 0 0 0 #ffffff;
}

#column-id-1621830131604 {
    box-shadow: 0 0 0 0 #fff;
}

#sppb-addon-wrapper-1621832722857 {
    margin: 0px 0px 40px 0px;
}

#sppb-addon-1621832722857 {
    box-shadow: 0 0 0 0 #ffffff;
}

    #sppb-addon-1621832722857 .sppb-addon-title {
        margin-bottom: 10px;
    }

@media (max-width:991.98px) {
    #sppb-addon-1621832722857 .sppb-media-body {
        overflow: visible;
    }
}

#sppb-addon-1621832722857 .sppb-icon .sppb-icon-container {
    box-shadow: 0 0 0 0 #ffffff;
    display: inline-block;
    text-align: center;
    padding: 15px 15px 15px 15px;
    border-width: 0px;
    border-radius: 4px;
}

    #sppb-addon-1621832722857 .sppb-icon .sppb-icon-container > i {
        font-size: 36px;
        width: 36px;
        height: 36px;
        line-height: 36px;
    }

#sppb-addon-1621832722857 .sppb-media-content .sppb-btn {
    margin: 25px 0px 0px 0px;
}

#sppb-addon-1621832722857 #btn-1621832722857.sppb-btn-custom {
    letter-spacing: 0px;
}

#sppb-addon-1621832722857 #btn-1621832722857.sppb-btn-custom {
    background-color: #0080FE;
    color: #FFFFFF;
    padding: 8px 22px 10px 22px;
    font-size: 16px;
}

    #sppb-addon-1621832722857 #btn-1621832722857.sppb-btn-custom:hover {
        background-color: #de6906;
        color: #FFFFFF;
    }

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1621832722857 .sppb-media .sppb-media-body {
        width: auto;
    }
}

@media (max-width:767px) {
    #sppb-addon-1621832722857 .sppb-media .sppb-media-body {
        width: auto;
    }
}

#sppb-addon-1621832722857 {
    transition: .3s;
}

    #sppb-addon-1621832722857:hover {
        box-shadow: 0 0 0 0 #ffffff;
    }

#column-id-1621830131605 {
    box-shadow: 0 0 0 0 #fff;
}

#sppb-addon-wrapper-1621832477293 {
    margin: 0px 0px 40px 0px;
}

#sppb-addon-1621832477293 {
    box-shadow: 0 0 0 0 #ffffff;
}

    #sppb-addon-1621832477293 .sppb-addon-title {
        margin-bottom: 10px;
    }

@media (max-width:991.98px) {
    #sppb-addon-1621832477293 .sppb-media-body {
        overflow: visible;
    }
}

#sppb-addon-1621832477293 .sppb-icon .sppb-icon-container {
    box-shadow: 0 0 0 0 #ffffff;
    display: inline-block;
    text-align: center;
    padding: 15px 15px 15px 15px;
    border-width: 0px;
    border-radius: 4px;
}

    #sppb-addon-1621832477293 .sppb-icon .sppb-icon-container > i {
        font-size: 36px;
        width: 36px;
        height: 36px;
        line-height: 36px;
    }

#sppb-addon-1621832477293 .sppb-media-content .sppb-btn {
    margin: 25px 0px 0px 0px;
}

#sppb-addon-1621832477293 #btn-1621832477293.sppb-btn-custom {
    letter-spacing: 0px;
}

#sppb-addon-1621832477293 #btn-1621832477293.sppb-btn-custom {
    background-color: #0080FE;
    color: #FFFFFF;
    padding: 8px 22px 10px 22px;
    font-size: 16px;
}

    #sppb-addon-1621832477293 #btn-1621832477293.sppb-btn-custom:hover {
        background-color: #de6906;
        color: #FFFFFF;
    }

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1621832477293 .sppb-media .sppb-media-body {
        width: auto;
    }
}

@media (max-width:767px) {
    #sppb-addon-1621832477293 .sppb-media .sppb-media-body {
        width: auto;
    }
}

#sppb-addon-1621832477293 {
    transition: .3s;
}

    #sppb-addon-1621832477293:hover {
        box-shadow: 0 0 0 0 #ffffff;
    }

#column-id-1638811590592 {
    box-shadow: 0 0 0 0 #fff;
}

#sppb-addon-wrapper-1638819438972 {
    margin: 0px 0px 30px 0px;
}

#sppb-addon-1638819438972 {
    box-shadow: 0 0 0 0 #ffffff;
    padding: 30px 0px 0px 0px;
}

    #sppb-addon-1638819438972 .sppb-addon-title {
        font-size: 30px;
    }

#sppb-addon-wrapper-1621864374710 {
    margin: 0px 0px 40px 0px;
}

#sppb-addon-1621864374710 {
    box-shadow: 0 0 0 0 #ffffff;
}

    #sppb-addon-1621864374710 .sppb-addon-timeline .sppb-addon-timeline-wrapper:before, #sppb-addon-1621864374710 .sppb-addon-timeline .sppb-addon-timeline-wrapper .timeline-badge:after, #sppb-addon-1621864374710 .sppb-addon-timeline .timeline-movement.even:before {
        background-color: #0095eb;
    }

    #sppb-addon-1621864374710 .sppb-addon-timeline .sppb-addon-timeline-wrapper .timeline-badge:before, #sppb-addon-1621864374710 .sppb-addon-timeline .timeline-movement.even:after {
        border-color: #0095eb;
    }

#sppb-addon-wrapper-1638811590748 {
    margin: 0px 0px 30px 0px;
}

#sppb-addon-1638811590748 {
    box-shadow: 0 0 0 0 #ffffff;
    padding: 40px 0px 0px 0px;
}

    #sppb-addon-1638811590748 .sppb-addon-title {
        font-size: 30px;
    }

.sp-page-builder .page-content #section-id-1638811590794 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    box-shadow: 0 0 0 0 #ffffff;
}

#column-id-1638811590795 {
    box-shadow: 0 0 0 0 #fff;
}

#sppb-addon-wrapper-1621900025672 {
    margin: 0px 0px 40px 0px;
}

#sppb-addon-1621900025672 {
    box-shadow: 0 0 0 0 #ffffff;
}

    #sppb-addon-1621900025672 .sppb-addon-title {
        font-size: 16px;
        line-height: 22px;
    }

    #sppb-addon-1621900025672 .sppb-pie-chart {
        height: 150px;
        width: 150px;
    }

    #sppb-addon-1621900025672 .sppb-chart-percent span {
        font-size: 24px;
    }

#column-id-1638811590798 {
    box-shadow: 0 0 0 0 #fff;
}

#sppb-addon-wrapper-1621899641186 {
    margin: 0px 0px 40px 0px;
}

#sppb-addon-1621899641186 {
    box-shadow: 0 0 0 0 #ffffff;
}

    #sppb-addon-1621899641186 .sppb-addon-title {
        font-size: 16px;
        line-height: 22px;
    }

    #sppb-addon-1621899641186 .sppb-pie-chart {
        height: 150px;
        width: 150px;
    }

    #sppb-addon-1621899641186 .sppb-chart-percent span {
        font-size: 24px;
    }

#column-id-1638811590799 {
    box-shadow: 0 0 0 0 #fff;
}

#sppb-addon-wrapper-1621899641183 {
    margin: 0px 0px 40px 0px;
}

#sppb-addon-1621899641183 {
    box-shadow: 0 0 0 0 #ffffff;
}

    #sppb-addon-1621899641183 .sppb-addon-title {
        font-size: 16px;
        line-height: 22px;
    }

    #sppb-addon-1621899641183 .sppb-pie-chart {
        height: 150px;
        width: 150px;
    }

    #sppb-addon-1621899641183 .sppb-chart-percent span {
        font-size: 24px;
    }

#column-id-1638811590800 {
    box-shadow: 0 0 0 0 #fff;
}

#sppb-addon-wrapper-1621899641189 {
    margin: 0px 0px 40px 0px;
}

#sppb-addon-1621899641189 {
    box-shadow: 0 0 0 0 #ffffff;
}

    #sppb-addon-1621899641189 .sppb-addon-title {
        font-size: 16px;
        line-height: 22px;
    }

    #sppb-addon-1621899641189 .sppb-pie-chart {
        height: 150px;
        width: 150px;
    }

    #sppb-addon-1621899641189 .sppb-chart-percent span {
        font-size: 24px;
    }

.sp-page-builder .page-content #experience {
    padding-top: 70px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    box-shadow: 0 0 0 0 #ffffff;
}

.sp-page-builder .page-content #experience {
    border-radius: 8px;
}

    .sp-page-builder .page-content #experience .sppb-row-overlay {
        border-radius: 8px;
    }

#column-id-1621899641487 {
    box-shadow: 0 0 0 0 #fff;
}

#sppb-addon-wrapper-1621907315047 {
    margin: 0px 0px 30px 0px;
}

#sppb-addon-1621907315047 {
    box-shadow: 0 0 0 0 #ffffff;
}

    #sppb-addon-1621907315047 .sppb-addon-timeline .sppb-addon-timeline-wrapper:before, #sppb-addon-1621907315047 .sppb-addon-timeline .sppb-addon-timeline-wrapper .timeline-badge:after, #sppb-addon-1621907315047 .sppb-addon-timeline .timeline-movement.even:before {
        background-color: #0095eb;
    }

    #sppb-addon-1621907315047 .sppb-addon-timeline .sppb-addon-timeline-wrapper .timeline-badge:before, #sppb-addon-1621907315047 .sppb-addon-timeline .timeline-movement.even:after {
        border-color: #0095eb;
    }

.sp-page-builder .page-content #portfolio {
    padding-top: 70px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    box-shadow: 0 0 0 0 #ffffff;
}

#column-id-1621963261709 {
    box-shadow: 0 0 0 0 #fff;
}

#sppb-addon-wrapper-1634359321999 {
    margin: 0px 0px 0px 0px;
}

#sppb-addon-1634359321999 {
    box-shadow: 0 0 0 0 #ffffff;
}

.sp-page-builder .page-content #testimonial {
    padding-top: 70px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    box-shadow: 0 0 0 0 #ffffff;
}

.sp-page-builder .page-content #testimonial {
    border-radius: 8px;
}

    .sp-page-builder .page-content #testimonial .sppb-row-overlay {
        border-radius: 8px;
    }

#column-id-1621963261711 {
    box-shadow: 0 0 0 0 #fff;
}

#sppb-addon-wrapper-1621963565184 {
    margin: 0px 0px 40px 0px;
}

#sppb-addon-1621963565184 {
    box-shadow: 0 0 0 0 #ffffff;
}

    #sppb-addon-1621963565184 .ut-testimonial-item {
        border-style: none;
    }

    #sppb-addon-1621963565184 .ut-testimonial-rating i {
        color: #FFAA00;
        font-size: 16px;
    }

    #sppb-addon-1621963565184 .swiper-container:not(.swiper-container-initialized) {
        margin-right: -30px;
    }

@media (min-width:992px) {
    #sppb-addon-1621963565184 .swiper-container:not(.swiper-container-initialized) .swiper-slide {
        width: calc(100% - 30px);
        margin-right: 30px;
    }
}

@media (min-width:768px) and (max-width:991.98px) {
    #sppb-addon-1621963565184 .swiper-container:not(.swiper-container-initialized) .swiper-slide {
        width: calc(100% - 30px);
        margin-right: 30px;
    }
}

@media (max-width:767.98px) {
    #sppb-addon-1621963565184 .swiper-container:not(.swiper-container-initialized) .swiper-slide {
        width: calc(100% - 30px);
        margin-right: 30px;
    }
}

.sp-page-builder .page-content #blog {
    padding-top: 70px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    box-shadow: 0 0 0 0 #ffffff;
}

@media (min-width:768px) and (max-width:991px) {
    .sp-page-builder .page-content #blog {
        padding-top: 80px;
        padding-right: 0px;
        padding-bottom: 30px;
        padding-left: 0px;
    }
}

@media (max-width:767px) {
    .sp-page-builder .page-content #blog {
        padding-top: 80px;
        padding-right: 0px;
        padding-bottom: 30px;
        padding-left: 0px;
    }
}

#column-id-1621966885753 {
    box-shadow: 0 0 0 0 #fff;
}

#sppb-addon-wrapper-1633727323988 {
    margin: 0px 0px 0px 0px;
}

#sppb-addon-1633727323988 {
    box-shadow: 0 0 0 0 #ffffff;
}

.sp-page-builder .page-content #section-id-1621966885767 {
    padding-top: 70px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
}

.sp-page-builder .page-content #section-id-1621966885767 {
    border-radius: 8px;
}

    .sp-page-builder .page-content #section-id-1621966885767 .sppb-row-overlay {
        border-radius: 8px;
    }

#column-id-1621966885766 {
    box-shadow: 0 0 0 0 #fff;
}

#sppb-addon-wrapper-1621972085574 {
    margin: 0px 0px 40px 0px;
}

#sppb-addon-1621972085574 {
    box-shadow: 0 0 0 0 #ffffff;
}

    #sppb-addon-1621972085574 .client-item {
        border-style: none;
        float: inherit;
    }

    #sppb-addon-1621972085574 .swiper-container:not(.swiper-container-initialized) {
        margin-right: -30px;
    }

@media (min-width:992px) {
    #sppb-addon-1621972085574 .swiper-container:not(.swiper-container-initialized) .swiper-slide {
        width: calc(25% - 30px);
        margin-right: 30px;
    }
}

@media (min-width:768px) and (max-width:991.98px) {
    #sppb-addon-1621972085574 .swiper-container:not(.swiper-container-initialized) .swiper-slide {
        width: calc(33.333333333333% - 30px);
        margin-right: 30px;
    }
}

@media (max-width:767.98px) {
    #sppb-addon-1621972085574 .swiper-container:not(.swiper-container-initialized) .swiper-slide {
        width: calc(50% - 30px);
        margin-right: 30px;
    }
}

.sp-page-builder .page-content #contact {
    padding-top: 70px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    box-shadow: 0 0 0 0 #ffffff;
}

#column-id-1621966885774 {
    box-shadow: 0 0 0 0 #fff;
}

#sppb-addon-wrapper-1621972459534 {
    margin: 0px 0px 30px 0px;
}

#sppb-addon-1621972459534 {
    box-shadow: 0 0 0 0 #ffffff;
}

    #sppb-addon-1621972459534 .sppb-addon-gmap-canvas {
        height: 400px;
    }

#sppb-addon-wrapper-1621972553977 {
    margin: 0px 0px 40px 0px;
}

#sppb-addon-1621972553977 {
    box-shadow: 0 0 0 0 #ffffff;
}

    #sppb-addon-1621972553977 .sppb-ajaxt-contact-form .sppb-form-group input:not(.sppb-form-check-input) {
        transition: .35s;
    }

    #sppb-addon-1621972553977 .sppb-ajaxt-contact-form div.sppb-form-group textarea {
        transition: .35s;
    }

    #sppb-addon-1621972553977 .sppb-ajaxt-contact-form div.sppb-form-group {
        margin: 0px 0px 20px 0px;
    }

@media (min-width:768px) and (max-width:991px) {
    #sppb-addon-1621972553977 .sppb-ajaxt-contact-form div.sppb-form-group {
        margin: 0px 0px 15px 0px;
    }
}

@media (max-width:767px) {
    #sppb-addon-1621972553977 .sppb-ajaxt-contact-form div.sppb-form-group {
        margin: 0px 0px 15px 0px;
    }
}

:root {
    --body_font_family: "Poppins", sans-serif;
    --headings_font_family: "Poppins", sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

h1 {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

h2 {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

h3 {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

h4 {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

h5 {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

h6 {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.logo-image {
    height: 36px;
}

.overlap-logo {
    height: 36px;
}

.logo-image-phone {
    height: 36px;
}

@media(max-width: 992px) {
    .logo-image {
        height: 36px;
    }

    .overlap-logo {
        height: 36px;
    }

    .logo-image-phone {
        height: 36px;
    }
}

@media(max-width: 576px) {
    .logo-image {
        height: 36px;
    }

    .overlap-logo {
        height: 36px;
    }

    .logo-image-phone {
        height: 36px;
    }
}